---

- name: Paketquellen aktualisieren
  ansible.builtin.apt:
    update_cache: yes
  become: yes

- name: Systempakete upgraden
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
  become: yes

- name: Basis-Tools installieren
  ansible.builtin.apt:
    name:
      - vim
      - htop
      - curl
      - wget
      - net-tools
      - ca-certificates
    state: present
  become: yes

- name: Zeitzone auf Europe/Berlin setzen
  ansible.builtin.command: timedatectl set-timezone Europe/Berlin
  become: yes
  changed_when: false

- name: unattended-upgrades installieren
  ansible.builtin.apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present
  become: yes

- name: unattended-upgrades aktivieren
  ansible.builtin.command: dpkg-reconfigure -f noninteractive unattended-upgrades
  become: yes
  changed_when: false

- name: root-SSH deaktivieren
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: Restart SSH
  become: yes

- name: Passwort-Authentifizierung deaktivieren
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: Restart SSH
  become: yes

- name: MOTD deaktivieren (Minimalkonfiguration)
  ansible.builtin.file:
    path: /etc/motd
    state: absent
  become: yes
